ul { 
    margin: 0; 
    padding: 0; 
}
ul li { 
    margin 0; 
    padding: 0; 
}
.artist {
    font-weight: bold;
}
.trackname {
    font-variant: small-caps;
    color: green;
}
.albumname {
    font-style: italic;
}
.genre {
    font-size: .9em;
}
.releasedate {
    font-size: .9em;
}
body {
    border: 10px 10px 10px 10px;
    border-color: black;
}
